<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Solo Scholar</title>
    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/logo.jpg}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
 <script>
    function goBack() {
        window.history.back();
    }
    </script>
</head>
<body>

    <div th:insert="comman/header :: header"></div>
    <button onclick="goBack()">Go Back</button><br>
    <div class="container my-2">
        <div th:if="${users != null}" class="container my-5">
            <p class="my-5">
                <a href="/addUser" class="btn btn-dark"> <i class="fas fa-user-plus ml-2"> Add User </i></a>&nbsp;&nbsp;
               <!--  <a href="/admin-login" class="btn btn-dark"> <i class="fas fa-user ml-2"> Admin-Dashboard </i></a>
				<a href="/user-login" class="btn btn-dark"> <i class="fas fa-user ml-2"> Staff-Dashboard </i></a> -->
            </p>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Id type</th>
                            <th>Id Number</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.address}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.gender}"></td>
                            <td th:text="${user.idtype}"></td>
                            <td th:text="${user.idnum}"></td>
                            <td><a th:href="@{/updateUser/{id}(id=${user.id})}" class="btn btn-warning"><i class="fas fa-user-edit ml-2"></i></a></td>
                            <td><a th:href="@{/removeUser/{id}(id=${user.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${users.totalPages > 0}" class="pagination">
                    <a th:each="pageNumber : ${#numbers.sequence(1, users.totalPages)}" th:href="@{/users(size=${users.size}, page=${pageNumber})}" th:text="${pageNumber}" th:class="${pageNumber==users.number + 1} ? active"></a>
                </div>
            </div>
        </div>
        <div th:if="${users == null}">
            <h2>No record found !!</h2>
        </div>
    </div>
    <div th:insert="comman/footer :: footer"></div>
</body>
</html>